Repository isckosta/sentinel, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, ui, utils, tests, config, plugins, ci-cd, dependencies, typescript, javascript

.github/labeler.yml:

# Configuration for auto-labeling pull requests

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README.md'
      - 'CHANGELOG.md'

# Core functionality
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/core/**/*'

# UI/UX
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/ui/**/*'

# Utilities
utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/utils/**/*'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*.test.ts'
      - '**/*.spec.ts'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - '*.yml'
      - '*.yaml'
      - '*.json'
      - 'tsconfig.json'
      - 'jest.config.js'
      - 'eslint.config.js'

# Plugins
plugins:
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins/**/*'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# TypeScript
typescript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.ts'
      - 'tsconfig.json'

# JavaScript
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.mjs'
      - '**/*.cjs'

refactor: rewrite benchmark tests to use Node.js timing for cross-platform compatibility
  .github/workflows/benchmark.yml
Labels: ci-cd

feat: enhance coverage workflow with status indicators and threshold check
  .github/workflows/coverage.yml
Labels: ci-cd

ci: add auto-release workflow for automated version bumping and publishing
  .github/workflows/auto-release.yml
Labels: ci-cd

ci: disable NPM publish job in favor of release workflow
  .github/workflows/ci.yml
Labels: ci-cd

feat: add docker stop/rm warnings and global intercept flag to sentinel config
  config/sentinel.yml
Labels: config

feat: add shell script generation for zsh and bash integration
  src/core/init-wizard.ts
Labels: core, typescript

feat: add global intercept mode to risk engine scoring logic
  src/core/risk-engine.ts
Labels: core, typescript

feat: add globalIntercept flag to SentinelConfig interface
  src/types/index.ts
Labels: typescript

feat: add shell parameter to init command for direct script generation
  src/index.ts
Labels: typescript

test: verify global command interception when globalIntercept flag is enabled
  tests/risk-engine.test.ts
Labels: tests, typescript

docs: Add configuration loading and customization guide to QUICK_START.md
  docs/QUICK_START.md
Labels: documentation

fix(ci): Grant issue write permission for CI failure notifications
  .github/workflows/notifications.yml
Labels: ci-cd

fix: Resolve all npm test failures and update test mocks
  .gitignore
  config/sentinel.yml
  package-lock.json
  package.json
  src/core/command-parser.ts
  src/core/decision-engine.ts
  src/core/execution-engine.ts
  src/core/init-wizard.ts
  src/core/plugin-manager.ts
  src/core/risk-engine.ts
  src/core/telemetry.ts
  src/types/index.ts
  src/utils/config-loader.ts
  src/utils/git-helper.ts
  src/utils/logger.ts
  src/utils/time-helper.ts
  tests/analyze.test.ts
  tests/init-wizard.test.ts
Labels: core, utils, tests, config, dependencies, typescript

Create dependabot.yml
  .github/dependabot.yml
Labels: ci-cd

refactor: simplify dependency update workflow by removing detailed reporting and checks
  .github/workflows/dependency-update.yml
Labels: ci-cd

feat: enhance dependency update workflow with security audit and detailed PR template
  .github/workflows/dependency-update.yml
Labels: ci-cd

feat: add reset option to remove shell integration in init wizard
  src/core/init-wizard.ts
  src/index.ts
Labels: core, typescript

ci: skip semantic PR title check for bot users
  .github/workflows/pr-checks.yml
Labels: ci-cd

feat: add auto-approve and config path options to sentinel CLI
  .github/workflows/nightly.yml
  src/index.ts
Labels: ci-cd, typescript

feat: auto-approve commands in CI environments and update sentinel exec syntax
  .github/workflows/nightly.yml
  src/core/execution-engine.ts
Labels: core, ci-cd, typescript

chore: automated dependency update
  audit.txt
  outdated.txt
  package-lock.json
Labels: config, dependencies

chore: automated dependency update
  audit.txt
  outdated.txt
  package-lock.json
Labels: config, dependencies

fix: upgrade inquirer from 12.9.6 to 12.10.0
  package-lock.json
  package.json
Labels: config, dependencies

fix: upgrade pino from 10.0.0 to 10.1.0
  package-lock.json
  package.json
Labels: config, dependencies

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Labels: config, dependencies

fix: upgrade commander from 14.0.1 to 14.0.2
  package-lock.json
  package.json
Labels: config, dependencies

fix: upgrade inquirer from 12.9.6 to 12.11.1
  package-lock.json
  package.json
Labels: config, dependencies

fix: upgrade pino-pretty from 13.1.2 to 13.1.3
  package-lock.json
  package.json
Labels: config, dependencies

fix: upgrade pino from 10.0.0 to 10.1.1
  package-lock.json
  package.json
Labels: config, dependencies

fix: upgrade ora from 9.0.0 to 9.1.0
  package-lock.json
  package.json
Labels: config, dependencies

chore: automated dependency update
  audit.txt
  outdated.txt
  package-lock.json
Labels: config, dependencies

chore: automated dependency update
  audit.txt
  outdated.txt
  package-lock.json
Labels: config, dependencies
